# Maven build
target/

# Java
*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse
.project
.settings/
.classpath

# idea
.idea
*.iml

.build/

downloads.properties

# MacOSX specific files
.AppleDouble
